---
layout: default
title: "Do Thao Anh | Blog, my cat and the journey to a PhD"
---

<h2>Nhật ký các em mèo</h2>
<ul>
  {% for post in site.posts %}

<div style="margin-bottom:40 px;">

{% if post.image %}
<img src="{{ post.image | relative_url }}"
     alt="{{ post.title }}"
     style="width:250 px; height:180 px; object-fit:cover; border-radius:10 px;">
{% endif %}

<h3>
<a href="{{ post.url | relative_url }}">
{{ post.title }}
</a>
</h3>

<p>{{ post.date | date: "%d/%m/%Y" }}</p>

</div>

{% endfor %}
